# App Settings
SECRET_KEY=change-me-to-a-secure-value
DEBUG=True
DJANGO_ALLOWED_HOSTS=localhost,api-tab.bibekjoshi01.com.np,192.168.1.88

# Database
DB_NAME=operon_db
DB_USER=postgres
DB_PASSWORD=
DB_HOST=localhost
DB_PORT=5432
