/* Make admin form full width */
.content-wrapper .content {
  max-width: 100% !important;
}

.card {
  width: 100% !important;
}

/* Remove right sidebar spacing */
.col-lg-9 {
  flex: 0 0 100% !important;
  max-width: 100% !important;
}

/* Hide right action sidebar */
.col-lg-3 {
  display: none !important;
}

/* Breadcrump Add Button */
/* ------------------------------------- */

.d-flex.justify-content-between {
  width: 100%;
  align-items: center;
}

/* LEFT SIDE breadcrumb */
.d-flex.justify-content-between > div:first-child {
  flex: 1;
}

/* RIGHT SIDE actions */
.custom-breadcrumb-actions {
  display: flex !important;
  align-items: center;
  justify-content: flex-end;
}

/* INNER wrapper (Django submit_row wrapper) */
.custom-breadcrumb-actions > div {
  display: flex !important;
  gap: 8px;
  margin-left: auto;
  align-items: center;
}

.custom-breadcrumb-actions .form-group {
  margin: 0 !important;
  padding: 0;
}

.custom-breadcrumb-actions .form-control {
  width: auto !important;
  display: inline-block !important;
}

/* Make buttons compact */
.custom-breadcrumb-actions input {
  white-space: nowrap;
  padding: 6px 12px;
}
